# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.venv/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Archivos temporales
# =========================
*.tmp
*.log

# =========================
# Graphviz
# =========================
*.gv.pdf
*.gv.png
*.gv.svg

# =========================
# Resultados generados
# =========================
Proyecto3-resultados/

# =========================
# Archivos de sistema Git
# =========================
*.swp
*~

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Coverage / testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Archivos compilados
# =========================
build/
dist/# Archivos del proyecto
